.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 20%;
  margin: 15px;
  padding: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.avatar {
  width: 100%;
  height: auto;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.button {
  background-color: #008cba; /* Blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #2facd5; /* Blue */
}
